@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-bg;
}

.form-bg{
  background: linear-gradient(66deg, rgba(254,236,217,1) 0%, rgba(194,142,255,1) 30%, rgba(119,24,254,1) 100%);
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td{
  border-bottom: 1px solid lightgray;
  padding: 2px 10px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #c28eff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7718fe;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #090d26;
}